

#layout-menu {
    min-height: 100vh;

    ul {
        overflow-x: hidden;
        padding: 0.5rem;
        .active {
            background: var(--bs-primary);
            color: white;
            border-radius: $border_radius;
            -webkit-border-radius: $border_radius;
            -moz-border-radius: $border_radius;
            -ms-border-radius: $border_radius;
            -o-border-radius: $border_radius;
}

        .menu-header-text {
            font-size: 12px;
        }

        .menu-toggle {
            display:flex;
            justify-content: space-between;
            align-items: center;
        }

        .menu-item {
            a {
                font-size:15px;
            }
        }

        li {
            font-family:sans-serif;
            list-style: none;
            margin:0.2rem 0rem;

            a {
                color: white;
                text-decoration: none;
                padding: 0.7rem 0.8rem;
                border-radius: $border_radius;
                -webkit-border-radius: $border_radius;
                -moz-border-radius: $border_radius;
                -ms-border-radius: $border_radius;
                -o-border-radius: $border_radius;
                transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                &:hover{
                    color: white;
                    background: var(--bs-primary);
                }
                &:focus {
                    color: white;
                    background: var(--bs-primary);
                }
            }
        }

        .menu-header {
            position: relative;
            color: rgb(185, 185, 185);
            margin: 0.3rem;

        }

    }
}

