 * {
    margin: 0;
    padding: 0;
 }

.hide {
    display:none;
}

 .rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px !important;
    @extend .poppins-semibold;
}

span,p,a,button {
    @extend .nunito-sans;
}

.card {
     border-radius: $border_radius;
      -webkit-border-radius: $border_radius;
       -moz-border-radius: $border_radius;
        -ms-border-radius: $border_radius;
         -o-border-radius: $border_radius;
}

.card-header {
    @extend .card;
}

.form-control:read-only {
    background: #e9e7e7;
    opacity:0.8;
}


.form-control,textarea,.btn{
    @extend .card;

}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }

  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--bs-primary);
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
    -webkit-animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

 @media print {
    body {
        print-color-adjust:exact;
        -webkit-print-color-adjust:exact;
    }
 }


  table.datatable th {
    background-color: var(--bs-primary);
    color: white;
}

.dt-button-collection {
    border:0px !important;
    background-color:var(--bs-primary) !important;
}

.dt-print-view h1 {
    text-align: center;
    margin: 1.5em;
}

.dt-button {
    background:var(--bs-primary) !important;
    color:white !important;
}

  th:first-child .dt-column-order,th:last-child .dt-column-order {
    display: none !important;
  }


 .nice-select .list {
    z-index: 100 !important;
 }


//   Tiny mce important hide

.tox-tinymce {
   @extend .card;
}

a[href="https://www.tiny.cloud/tinymce-self-hosted-premium-features/?utm_campaign=self_hosted_upgrade_promo&utm_source=tiny&utm_medium=referral"],
a[href="https://www.tiny.cloud/powered-by-tiny?utm_campaign=poweredby&utm_source=tiny&utm_medium=referral&utm_content=v7"]
{
    display: none !important;
}


